@keyframes slide-infinite {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.animate-slide-infinite {
	animation: slide-infinite linear infinite;
	white-space: nowrap;
	display: inline-block;
}
@keyframes scroll {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.animate-scroll {
	animation: scroll 10s linear infinite;
}
